[submodule "crates/actman"]
	path = crates/actman
	url = https://gitlab.com/losos-linux/actman.git
[submodule "crates/updman"]
	path = crates/updman
	url = https://gitlab.com/losos-linux/updman.git
[submodule "crates/cluman"]
	path = crates/cluman
	url = https://gitlab.com/losos-linux/cluman.git
[submodule "crates/isoman"]
	path = crates/isoman
	url = https://gitlab.com/losos-linux/isoman.git
[submodule "crates/dhcman"]
	path = crates/dhcman
	url = https://gitlab.com/losos-linux/dhcman.git
[submodule "crates/testman"]
	path = crates/testman
	url = https://gitlab.com/losos-linux/testman.git
[submodule "crates/user"]
	path = crates/user
	url = https://gitlab.com/losos-linux/userman.git
[submodule "crates/gpuman"]
	path = crates/gpuman
	url = https://gitlab.com/losos-linux/gpuman.git
[submodule "book"]
	path = book
	url = https://gitlab.com/losos-linux/docs
[submodule "crates/preflight"]
	path = crates/preflight
	url = https://gitlab.com/losos-linux/preflight
[submodule "crates/bootenv"]
	path = crates/bootenv
	url = https://gitlab.com/losos-linux/bootenv
[submodule "crates/pcm"]
	path = crates/pcm
	url = https://gitlab.com/losos-linux/pcm/pcm
[submodule "crates/bootlib"]
	path = crates/bootlib
	url = https://gitlab.com/losos-linux/bootlib
